name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    name: Build Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: fusiondb-linux-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            name: fusiondb-windows-amd64.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            name: fusiondb-macos-amd64
          - os: macos-latest
            target: aarch64-apple-darwin
            name: fusiondb-macos-arm64

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Binary
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename Binary (Linux/Mac)
        if: matrix.os != 'windows-latest'
        run: mv target/${{ matrix.target }}/release/fusiondb target/${{ matrix.target }}/release/${{ matrix.name }}

      - name: Rename Binary (Windows)
        if: matrix.os == 'windows-latest'
        run: mv target/${{ matrix.target }}/release/fusiondb.exe target/${{ matrix.target }}/release/${{ matrix.name }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: target/${{ matrix.target }}/release/${{ matrix.name }}

  publish-release:
    name: Publish Release
    needs: build-release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4

      - name: Display structure of downloaded files
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            fusiondb-linux-amd64/fusiondb-linux-amd64
            fusiondb-windows-amd64.exe/fusiondb-windows-amd64.exe
            fusiondb-macos-amd64/fusiondb-macos-amd64
            fusiondb-macos-arm64/fusiondb-macos-arm64
          generate_release_notes: true
